<div class = "avatar-wrap">
    <div class = "avatar-title-box">
        <h3>아바타 물품 시세 검색</h3>
    </div>
    <div class = "head-avatar-box">
        <span>머리 아바타 : </span>
        <button class = "head-avatar-modal-button">머리 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "hat-avatar-box">
        <span>모자 아바타 : </span>
        <button class = "hat-avatar-modal-button">모자 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "face-avatar-box">
        <span>얼굴 아바타 : </span>
        <button class = "face-avatar-modal-button">얼굴 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "chest-avatar-box">
        <span>목가슴 아바타 : </span>
        <button class = "chest-avatar-modal-button">목가슴 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "shirt-avatar-box">
        <span>상의 아바타 : </span>
        <button class = "shirt-avatar-modal-button">상의 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "pants-avatar-box">
        <span>하의 아바타 : </span>
        <button class = "pants-avatar-modal-button">하의 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "belt-avatar-box">
        <span>허리 아바타 : </span>
        <button class = "belt-avatar-modal-button">허리 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "shoes-avatar-box">
        <span>신발 아바타 : </span>
        <button class = "shoes-avatar-modal-button">신발 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "skin-avatar-button">
        <span>피부 아바타 : </span>
        <button class = "skin-avatar-modal-button">피부 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "aura-avatar-button">
        <span>오라 아바타 : </span>
        <button class = "aura-avatar-modal-button">오라 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
    <div class = "weapon-avatar-box">
        <span>무기 아바타 : </span>
        <button class = "weapon-avatar-modal-button">무기 아바타와 세부 엠블렘을 설정해 주세요</button>
    </div>
</div>