<div class = "creature-wrap">
    <div class = "creature-title-box">
        <h3>크리쳐 시세 검색</h3>
    </div>
    <div class = "creature-select-box">
        <span>크리쳐 : </span>
        <button class = "creature-select-modal-button">크리쳐를 선택해주세요</button>
    </div>
</div>