<div class = "equipment-wrap">
    <div class = "equipment-title-box">
        <h3>장비 마부 시세 검색</h3>
    </div>
    <div class = "weapon-box">
        <span>무기 : </span>
        <button class = "weapon-modal-button">무기 마부를 선택해주세요</button>
    </div>
    <div class = "shoulder-box">
        <span>어깨 : </span>
        <button class = "shoulder-modal-button">어깨 마부를 선택해주세요</button>
    </div>
    <div class = "shirt-box">
        <span>상의 : </span>
        <button class = "shirt-modal-button">상의 마부를 선택해주세요</button>
    </div>
    <div class = "pants-box">
        <span>하의 : </span>
        <button class = "pants-modal-button">하의 마부를 선택해주세요</button>
    </div>
    <div class = "belt-box">
        <span>벨트 : </span>
        <button class = "belt-modal-button">벨트 마부를 선택해주세요</button>
    </div>
    <div class = "shoes-box">
        <span>신발 : </span>
        <button class = "shoes-modal-button">신발 마부를 선택해주세요</button>
    </div>
    <div class = "bracelet-box">
        <span>팔찌 : </span>
        <button class = "bracelet-modal-button">팔찌 마부를 선택해주세요</button>
    </div>
    <div class = "necklace-box">
        <span>목걸이 : </span>
        <button class = "necklace-modal-button">목걸이 마부를 선택해주세요</button>
    </div>
    <div class = "ring-box">
        <span>반지 : </span>
        <button class = "ring-modal-button">반지 마부를 선택해주세요</button>
    </div>
    <div class = "auxiliary-box">
        <span>보조장비 : </span>
        <button class = "auxiliary-modal-button">보조장비 마부를 선택해주세요</button>
    </div>
    <div class = "magic-stone-box">
        <span>마법석 : </span>
        <button class = "magic-stone-modal-button">마법석 마부를 선택해주세요</button>
    </div>
    <div class = "earling-box">
        <span>귀걸이 : </span>
        <button class = "earling-modal-button">귀걸이 마부를 선택해주세요</button>
    </div>
</div>